<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.35" targetFramework="xamarinmac20" />
  <package id="Fabulous" version="0.54.2" targetFramework="xamarinmac20" />
  <package id="Fabulous.LiveUpdate" version="0.54.2" targetFramework="xamarinmac20" />
  <package id="Fabulous.XamarinForms" version="0.54.2" targetFramework="xamarinmac20" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.54.2" targetFramework="xamarinmac20" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="xamarinmac20" />
  <package id="FSharp.Data.Dapper" version="2.0.0" targetFramework="xamarinmac20" />
  <package id="LiteDB" version="4.1.4" targetFramework="xamarinmac20" />
  <package id="LiteDB.FSharp" version="2.15.1" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinmac20" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="xamarinmac20" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="xamarinmac20" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="xamarinmac20" />
  <package id="TypeShape" version="7.1.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.7.0.968" targetFramework="xamarinmac20" />
</packages>